/* Reset */
/*@import 'tailwindcss/base';*/
@import 'reset';


header {
    /*background-color: red !important;*/
}

@import "config/colors.scss";

.ijlogo {
    fill: $primaryColor;
    width: 150px;
}

#navbarMenu .ijlogo {
    display: inline-block;
    margin-right: 50px;
}

.pending-registration.page {
    text-align: center;
    margin: 10% auto 0 auto;
    width: 40%;
    .ijlogo {
        margin: 0 auto 50px auto;
        display: inline-block;
        width: 55%;
    }
}

body.modal-open #ui-datepicker-div {
    z-index: 9999 !important;
}

#application-layout {

    section.contact-properties {
        display: none;

        &.visible {
            display: block;
        }
    }

    .navbar-header {
        max-width: 1300px;
        margin: 0 auto;
        border-bottom: 0;
    }

    .navbar-right {
        //background-color: red;
        svg {
            //fill: $primaryColor;
            //stroke: $primaryColor;
            color: $primaryColor;
        }

        .current-user-name {
            padding: 5px 5px 5px 18px;
            min-width: 80px;
            display: inline-block;
            color: $textColor;
            font-weight: bold;
        }

        .dropdown-profile {
            margin-left: 5px;
        }
    }

    .wrapper {
        margin: 10px auto 10px auto;
        max-width: 1330px;
    }

    .navigation.wrapper {
        margin: 64px auto 25px auto;
        max-width: 1330px;

        .navigation {
            $size: 50px;
            background-color: $colorPalePurple;
            height: $size;
            margin: 0;
            padding: 0;
            clear: left;

            .tablist {
                display: inline-block;
                margin: 0;
                padding: 0;
                list-style: none;
            }

            .item {
                cursor: pointer;
                list-style: none;
                float: left;
                color: $primaryColor;
                margin: 0;
                padding: 0;
                width: $size;
                height: $size;
                line-height: $size;
                text-align: center;

                .typcn {
                    font-size: 1.5em;
                }

                a {
                    color: $primaryColor;

                    &:active,
                    &:hover,
                    &:visited {
                        color: $primaryColor;
                    }
                }

                &.active {
                    background-color: $primaryColor;
                    color: white;

                    a {
                        color: white;

                        &:active,
                        &:hover,
                        &:visited {
                            color: white;
                        }
                    }
                }
            }
        }
    }

    .view.wrapper {
        .meta.view {
            .activities {
                button svg {
                    display: inline-block;
                    margin-right: 5px;
                }
            }
        }
    }

    .contracts.wrapper {
        .listing * {
            //outline: 1px solid magenta !important;
        }

        .foldable.subsection {
            .collapse {
                min-height: 200px;
                //height: 200px;
                padding-top: 20px;
            }
        }

    }

    #contact-details-section {
        #contactDetailsDialog {
            section.role-validity {
                background-color: green;
                .daterange-panel {
                    background-color: magenta;
                    display: none;
                }

                &.enabled {
                    .daterange-panel {
                        display: block;
                    }
                }
            }
        }
    }
}
