<template>
    <div>
        <h1 class="mb-8 font-bold text-3xl">Query Demo</h1>
        <div class="mb-6 flex justify-between items-center">
            <search-filter v-model="form.search" class="w-full max-w-md mr-8" @reset="reset"/>
        </div>
        <div class="bg-white rounded-md shadow overflow-x-auto">
            <table class="w-full whitespace-nowrap">
                <tr class="text-left font-bold">
                    <th class="px-6 pt-6 pb-4">Name</th>
                    <th class="px-6 pt-6 pb-4">Organization</th>
                    <th class="px-6 pt-6 pb-4">City</th>
                    <th class="px-6 pt-6 pb-4" colspan="2">Phone</th>
                </tr>
                <tr v-for="contact in contacts.data" :key="contact.id"
                    class="hover:bg-gray-100 focus-within:bg-gray-100">
                    <td class="border-t">
                        <inertia-link class="px-6 py-4 flex items-center focus:text-indigo-500"
                                      :href="route('contacts.edit', contact.id)">
                            {{ contact.name }}
                            <icon v-if="contact.deleted_at" name="trash"
                                  class="flex-shrink-0 w-3 h-3 fill-gray-400 ml-2"/>
                        </inertia-link>
                    </td>
                    <td class="border-t">
                        <inertia-link class="px-6 py-4 flex items-center" :href="route('contacts.edit', contact.id)"
                                      tabindex="-1">
                            <div v-if="contact.organization">
                                {{ contact.organization.name }}
                            </div>
                        </inertia-link>
                    </td>
                    <td class="border-t">
                        <inertia-link class="px-6 py-4 flex items-center" :href="route('contacts.edit', contact.id)"
                                      tabindex="-1">
                            {{ contact.city }}
                        </inertia-link>
                    </td>
                    <td class="border-t">
                        <inertia-link class="px-6 py-4 flex items-center" :href="route('contacts.edit', contact.id)"
                                      tabindex="-1">
                            {{ contact.phone }}
                        </inertia-link>
                    </td>
                    <td class="border-t w-px">
                        <inertia-link class="px-4 flex items-center" :href="route('contacts.edit', contact.id)"
                                      tabindex="-1">
                            <icon name="cheveron-right" class="block w-6 h-6 fill-gray-400"/>
                        </inertia-link>
                    </td>
                </tr>
                <tr v-if="contacts.data.length === 0">
                    <td class="border-t px-6 py-4" colspan="4">No contacts found.</td>
                </tr>
            </table>
        </div>
        <pagination class="mt-6" :links="contacts.links"/>
    </div>
</template>

<script>
import Icon from '@/Shared/Icon'
import pickBy from 'lodash/pickBy'
import ApplicationLayout from '@/Shared/ApplicationLayout'
import throttle from 'lodash/throttle'
import mapValues from 'lodash/mapValues'
// import Pagination from '@/Shared/Pagination'
import SearchFilter from '@/Shared/SearchFilter'

export default {
    metaInfo: {title: 'QueryDemo'},
    components: {
        Icon,
        Pagination,
        SearchFilter,
    },
    layout: ApplicationLayout,
    props: {
        contacts: Object,
        filters: Object,
    },
    data() {
        return {
            form: {
                search: this.filters.search,
                trashed: this.filters.trashed,
            },
        }
    },
    watch: {
        form: {
            handler: throttle(function () {
                let query = pickBy(this.form)
                let result = null;

                if (Object.keys(query).length) {
                    result = query;
                } else {
                    result = {remember: 'forget'};
                }

                this.$inertia.replace(
                    this.route('test.search', result))
            }, 150),
            deep: true,
        },
    },
    methods: {
        reset() {
            this.form = mapValues(this.form, () => null)
        },
    },
}
</script>
