<template>
    <div>
        <div class="content content-fixed content-auth-alt">
            <div class="container ht-100p">
                <div class="ht-100p d-flex flex-column align-items-center justify-content-center">
                    <h4 class="tx-40 tx-sm-24">Willkommen zurück!</h4>
                    <p class="tx-color-03 mg-b-40">Bitte melde dich mit deinen persönlichen Login Daten an.</p>

                    <flash-messages></flash-messages>
                    <form class="w-50" @submit.prevent="login">
                        <div class="form-group">
                            <text-input v-model="form.email"
                                        :error="form.errors.email"
                                        class=""
                                        label="Email"
                                        type="email"
                                        autofocus autocapitalize="off"/>

                        </div>
                        <div class="form-group">
                            <text-input v-model="form.password"
                                        :error="form.errors.password"
                                        class="mt-6"
                                        label="Password"
                                        type="password"/>
                        </div>
                        <center>
                            <loading-button :loading="form.processing"
                                            class="w-25 btn btn-brand-02 d-inline-flex align-items-center"
                                            type="submit">Anmelden
                            </loading-button>
                            <br/>
                        </center>
                    </form>
                </div>
            </div><!-- container -->
        </div><!-- content -->
    </div>
</template>

<script>
import Logo from '@/Shared/Logo'
import TextInput from '@/Shared/TextInput'
import LoadingButton from '@/Shared/LoadingButton'
import FlashMessages from '@/Shared/FlashMessages'

export default {
    metaInfo: {title: 'Login'},
    components: {
        LoadingButton,
        Logo,
        TextInput,
        FlashMessages,
    },
    data() {
        return {
            form: this.$inertia.form({
                email: null,
                password: null,
            }),
        }
    },
    methods: {
        login() {
            this.form
                .transform(data => ({
                    ...data,
                    remember: data.remember ? 'on' : '',
                }))
                .post(this.route('login.attempt'))
        },
    },
}
</script>
