<template>
    <div>
        <div class="content content-fixed content-auth bg-indigo-800">
            <div class="container">
                <div class="media align-items-stretch justify-content-center ht-100p">
                    <div class="sign-wrapper mg-lg-r-50 mg-xl-r-60">
                        <div class="pd-t-20 wd-100p">
                            <h4 class="tx-color-01 mg-b-5">Starten Sie durch!</h4>
                            <p class="tx-color-03 tx-16 mg-b-40">
                                Erstellen Sie im Handumdrehen und unverbindlich Ihre
                                persönliche Arbeitsumgebung.
                            </p>

                            <form class="" @submit.prevent="processRegistration">
                                <div class="form-group">
                                    <text-input v-model="form.email"
                                                :error="form.errors.email"
                                                autocapitalize="off"
                                                autofocus
                                                class="mt-10"
                                                placeholder="z.B. starten@incomingjet.com"
                                                type="email"
                                    />
                                </div>

                                <div class="form-group">
                                    <label class="mt-6 select-none flex items-center" for="termsAccepted">
                                        <input id="termsAccepted" v-model="form.termsAccepted" class="mr-1"
                                               type="checkbox"
                                        />
                                        <span class="text-sm">
                                            Ich bestätige die IncomingJET
                                            <a :href="route('pages.terms')" target="_terms_page">ABG</a> und
                                            <a :href="route('pages.gdpr')" target="_gdpr_page">Datenschutz</a> Richtlinien
                                            gelsen zu haben und akzeptiere diese.
                                        </span>
                                    </label>
                                </div>

                                <loading-button :disabled="isRegistrationDisabled" :loading="form.processing"
                                                class="btn btn-brand-02 btn-block"
                                                type="submit"
                                >
                                    Jetzt registrieren
                                </loading-button>
                            </form>

                            <div class="divider-text">or</div>
                            <div class="tx-13 mg-t-20 tx-center">
                                Bereits registriert? <a href="page-signin.html">Zur Anmeldung!</a>
                            </div>
                        </div>
                    </div><!-- sign-wrapper -->
                    <div
                        class="media-body pd-y-30 pd-lg-x-50 pd-xl-x-60 align-items-center d-none d-lg-flex pos-relative"
                    >
                        <div class="mx-lg-wd-500 mx-xl-wd-550">
                            <img alt="" class="img-fluid" src="https://via.placeholder.com/1280x1225"/>
                        </div>
                    </div><!-- media-body -->
                </div><!-- media -->
            </div><!-- container -->
        </div><!-- content -->
    </div>
</template>

<script>
import Logo from '@/Shared/Logo'
import TextInput from '@/Shared/TextInput'
import LoadingButton from '@/Shared/LoadingButton'
import FlashMessages from '@/Shared/FlashMessages'

export default {
    metaInfo: {title: 'Register'},
    components: {
        FlashMessages,
        LoadingButton,
        Logo,
        TextInput,
    },
    data() {
        return {
            form: this.$inertia.form({
                email: null,
                termsAccepted: false,
            }),
        }
    },
    computed: {
        isValidEmailAddress() {
            return this.form.email != null && this.form.email.length > 5
        },
        isRegistrationDisabled() {
            const termsNotAccepted = this.form.termsAccepted === false
            const addresInvalid = this.isValidEmailAddress === false
            // console.log(termsAccepted, addressValid);
            return termsNotAccepted || addresInvalid
        },
    },
    methods: {
        processRegistration() {
            console.log('yaaaahooowww.');
            this.form.transform(data => ({
                ...data,
            }))
                .post(this.route('registration.create'))
        },
    },
}
</script>
