
// Palettes
$colorPurple: #6f42c1;
$colorIndigo: #5b47fb;
$colorBluish: #042893;

$colorDarkerPurple: #5227CC;
$colorPalePurple: #EBE5FC;
$colorIntensePurple: #7749F8;
$colorBlackBlue: #152536;
$colorIntenseGreen: #6AC660;
$colorBoldGrey: #6AC660;
$colorEasyGrey: #C0C8CE;

// UI Color Configuration
$primaryColor: $colorDarkerPurple;
$palePrimaryColor: $colorPalePurple;
$secondaryColor: $colorIntenseGreen;
$textColor: $colorBlackBlue;

