<template>
    <div class="contracts wrapper">

        <div class="meta view d-sm-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
            <div>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb breadcrumb-style1 mg-b-10">
                        <li class="breadcrumb-item"><a href="#">Lieferanten</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Übersicht</li>
                    </ol>
                </nav>
                <h4 class="mg-b-0 tx-spacing--1">Alle Lieferanten</h4>
            </div>
            <div class="activities d-none d-md-block">
                <button class="btn btn-sm pd-x-15 btn-white btn-uppercase"><span data-feather="file-plus"></span>Neuer Lieferant</button>
            </div>
        </div>

        <div class="">

        </div>

    </div>

</template>

<script>
import Layout from '@/Shared/ApplicationLayout'

export default {
    metaInfo: {title: 'Dashboard'},
    layout: Layout,
    mounted: function() {
        window.$('[data-toggle="tooltip"]').tooltip();
    },
}
</script>
