<template>

    <div class="pending-registration page content content-fixed">
        <logo />
        <div class="ht-100p d-flex flex-column align-items-center justify-content-center">
            <h4 class="tx-40 tx-sm-24">Nurnoch ein letzter Schritt!</h4>
            <p>
                Sie werden in wenigen Minten eine E-Mail von IncomingJET erhalten. Um die Registrierung
                abzuschließen, folgen Sie bitte der Anweisung in der E-Mail.
            </p>
        </div>
    </div><!-- content -->

</template>

<script>
import Logo from '@/Shared/Logo'

export default {
    metaInfo: {title: 'Register'},
    components: {
       Logo,
    },
    data() {
        return {
            form: this.$inertia.form({
                email: null,
                termsAccepted: false,
            }),
        }
    },
    computed: {
        isValidEmailAddress() {
            return this.form.email != null && this.form.email.length > 5
        },
        isRegistrationDisabled() {
            const termsNotAccepted = this.form.termsAccepted === false;
            const addresInvalid = this.isValidEmailAddress === false;
            // console.log(termsAccepted, addressValid);
            return termsNotAccepted || addresInvalid;
        },
    },
    methods: {
        processRegistration() {
            this.form.transform(data => ({
                ...data,
                remember: data.remember ? 'on' : '',
            }))
                .post(this.route('registration.attempt'))
        },
    },
}
</script>
