<template>

    <div id="application-layout">
        <header class="navbar navbar-header navbar-header-fixed">
            <logo/>
            <div class="navbar-right">
                <a id="navbarSearch" v-on:click="toggleSearch" class="search-link"><i data-feather="search"></i></a>
                <div class="dropdown dropdown-message">
                    <inertia-link href="/settings" class="dropdown-link" data-toggle="dropdown">
                        <i data-feather="settings"></i>
                    </inertia-link>
                </div>

                <div class="dropdown dropdown-profile">
                    <a href="" class="dropdown-link" data-toggle="dropdown" data-display="static">
                        <span class="current-user-name">
                            {{ this.$page.props.auth.user.first_name }}&nbsp;{{ lastnameInitial }}
                        </span>
                        <div class="avatar avatar-sm"><img src="https://via.placeholder.com/500/5227CC"
                                                           class="rounded-circle" alt=""></div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right tx-13">
                        <div class="avatar avatar-lg mg-b-15">
                            <img src="https://via.placeholder.com/500/5227CC"
                                 class="rounded-circle"
                                 alt="">
                        </div>
                        <h6 class="tx-semibold mg-b-5">
                            {{ this.$page.props.auth.user.first_name }}&nbsp;{{ lastnameInitial }}
                        </h6>
                        <p class="mg-b-25 tx-12 tx-color-03">Administrator</p>

                        <a href="" class="dropdown-item"><i data-feather="edit-3"></i> Edit Profile</a>
                        <a href="page-profile-view.html" class="dropdown-item"><i data-feather="user"></i> View Profile</a>
                        <div class="dropdown-divider"></div>
                        <a href="page-signin.html" class="dropdown-item"><i data-feather="log-out"></i>Sign Out</a>
                    </div><!-- dropdown-menu -->
                </div><!-- dropdown -->
            </div><!-- navbar-right -->


            <div class="navbar-search" :class="{visible: isSearchVisible}">
                <div class="navbar-search-header">
                    <input type="search" class="form-control" placeholder="Type and hit enter to search...">
                    <button class="btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                             class="feather feather-search">
                            <circle cx="11" cy="11" r="8"></circle>
                            <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                        </svg>
                    </button>
                    <a id="navbarSearchClose" v-on:click="toggleSearch" class="link-03 mg-l-5 mg-lg-l-10">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                             class="feather feather-x">
                            <line x1="18" y1="6" x2="6" y2="18"></line>
                            <line x1="6" y1="6" x2="18" y2="18"></line>
                        </svg>
                    </a>
                </div><!-- navbar-search-header -->
                <div class="navbar-search-body">
                    <label
                        class="tx-10 tx-medium tx-uppercase tx-spacing-1 tx-color-03 mg-b-10 d-flex align-items-center">Recent
                        Searches</label>
                    <ul class="list-unstyled">
                        <li><a href="dashboard-one.html">modern dashboard</a></li>
                        <li><a href="app-calendar.html">calendar app</a></li>
                        <li><a href="../../collections/modal.html">modal examples</a></li>
                        <li><a href="../../components/el-avatar.html">avatar</a></li>
                    </ul>

                    <hr class="mg-y-30 bd-0">

                    <label
                        class="tx-10 tx-medium tx-uppercase tx-spacing-1 tx-color-03 mg-b-10 d-flex align-items-center">Search
                        Suggestions</label>

                    <ul class="list-unstyled">
                        <li><a href="dashboard-one.html">cryptocurrency</a></li>
                        <li><a href="app-calendar.html">button groups</a></li>
                        <li><a href="../../collections/modal.html">form elements</a></li>
                        <li><a href="../../components/el-avatar.html">contact app</a></li>
                    </ul>
                </div><!-- navbar-search-body -->
            </div>

        </header>

        <div class="navigation wrapper">
            <div class="navigation">
                <ul class="tablist">
                    <li class="item" :class="isUrl('contracts') ? 'active' : ''" data-toggle="tooltip"
                        data-placement="bottom" title="Verträge">
                        <inertia-link :href="route('components.contracts')"><i data-feather="file"></i>
                        </inertia-link>
                    </li>
                    <li class="item" :class="isUrl('suppliers') ? 'active' : ''" data-toggle="tooltip"
                        data-placement="bottom" title="Lieferanten">
                        <inertia-link :href="route('components.suppliers')"><i data-feather="users"></i></inertia-link>
                    </li>
                </ul>
            </div>
        </div>

        <div class="view wrapper">
            <flash-messages/>
            <slot/>
        </div>

        <div class="backdrop" :class="{ show: isBackdropVisible }"></div>

    </div>
</template>

<script>

import FlashMessages from '@/Shared/FlashMessages'
import Logo from "../Shared/Logo";

export default {
    components: {
        Logo,
        FlashMessages,
    },
    data: function () {
        return {
            isSearchVisible: false,
            isBackdropVisible: false,
        }
    },
    computed: {
        lastnameInitial: function () {
            return this.$page.props.auth.user.last_name[0] + '.'
        },
    },
    mounted: function () {
        this.bindExternalLibraries()
    },
    updated: function () {
        this.bindExternalLibraries()
    },
    methods: {
        toggleSearch: function () {
            this.isSearchVisible = !this.isSearchVisible
            this.isBackdropVisible = this.isSearchVisible
        },
        bindExternalLibraries: function () {
            window.feather.replace()
            window.$('[data-toggle="tooltip"]').tooltip()
            window.$('[data-toggle="tooltip"]').click(function () {
                window.$('[data-toggle="tooltip"]').tooltip('hide')
            })
        },
        isUrl(...urls) {
            let currentUrl = this.$page.url.substr(1)
            if (urls[0] === '') {
                return currentUrl === ''
            }
            return urls.filter(url => currentUrl.startsWith(url)).length
        },
    },
}

</script>
