<template>
    <section>
        <div v-if="$page.props.flash.success && show"
             class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ $page.props.flash.success }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div v-if="($page.props.flash.error || Object.keys($page.props.errors).length > 0) && show"
             class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ $page.props.flash.error }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
    </section>
</template>

<script>
export default {
    data() {
        return {
            show: true,
        }
    },
    watch: {
        '$page.props.flash': {
            handler() {
                this.show = true
            },
            deep: true,
        },
    },
}
</script>
