<template>
<span class="ijlogo">
    <svg width="100%" height="100%" viewBox="0 0 1185 266" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
        <g transform="matrix(1.04107,0,0,1.04107,-42.3625,128.612)">
        <g id="Layer1">
            <g>
                <text x="41.083px" y="55.006px" style="font-family:'DINOT', 'DIN OT', sans-serif;font-size:165px;">INC<tspan x="311.848px " y="55.006px ">O</tspan>MING</text>
                <text x="828.298px" y="55.006px" style="font-family:'Arial-Black', 'Arial', sans-serif;font-weight:900;font-size:165px;">JET</text>
            </g>
        </g>
        </g>
    </svg>
</span>
</template>
