<template>
    <section id="contact-details-section" class="foldable subsection">
        <div class="row">
            <div class="col-md-12">
                <h6 class="accordion-title ui-accordion-header ui-corner-top ui-accordion-header-collapsed ui-corner-all ui-state-default ui-accordion-icons"
                    role="tab"
                    href="#contacts-foldable-panel"
                    data-toggle="collapse"
                    aria-controls="financial-foldable-panel"
                    aria-expanded="false"
                    tabindex="-1"
                >
                    <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"/>
                    Kontakte
                </h6>
            </div>
        </div>
        <div id="contacts-foldable-panel" class="row collapse show">
            <div class="col-md-12">
                <div
                    class="meta view d-sm-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
                    <div>
                        <h4 class="mg-b-0 tx-spacing--1">&nbsp;</h4>
                    </div>
                    <div class="activities d-none d-md-block">
                        <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#contactDetailsDialog" v-on:click="resetForm">
                            <span data-feather="plus"/>&nbsp;Kontakt
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="contactDetailsDialog" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="bankingDetailDialog">Kontaktdaten</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <form @submit.prevent="store" style="width: 100%;">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="d-block">Kategorie</label>
                                                        <custom-select name="contact-role"
                                                                       v-bind:on-item-selected=handleRoleItemSelected>
                                                            <option :value="null">-</option>
                                                            <option v-for="contactRole in contactRoles"
                                                                    :key="contactRole.uuid"
                                                                    :value="contactRole.uuid">
                                                                {{ contactRole.title }}
                                                            </option>
                                                        </custom-select>
                                                    </div>
                                                </div>

                                                <section class="contact-properties" :class="{'visible': isRoleSelected}">

                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label for="inputFamilyName" class="d-block">Addressbuch</label>
                                                            <custom-select name="addressbook">
                                                                <option :value="null">-</option>
                                                                <option v-for="contact in allContacts"
                                                                        :key="contact.uuid"
                                                                        :value="contact.uuid">
                                                                    {{ contact.combinedName }}
                                                                </option>
                                                            </custom-select>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label for="inputFamilyName" class="d-block">Name</label>
                                                            <input id="inputFamilyName"
                                                                   v-model="contactDetailEntry.familyName"
                                                                   type="text"
                                                                   class="form-control"
                                                                   placeholder=""/>
                                                            <div class="invalid-feedback">{{
                                                                    contactDetailEntry.errors.name
                                                                }}
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="inputGivenName" class="d-block">Straße</label>
                                                            <input id="inputGivenName"
                                                                   v-model="contactDetailEntry.givenName"
                                                                   type="text"
                                                                   class="form-control"
                                                                   placeholder=""/>
                                                            <div class="invalid-feedback">
                                                                {{ contactDetailEntry.errors.financialInstitute }}
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="inputCompanyName" class="d-block">PLZ</label>
                                                            <input id="inputCompanyName"
                                                                   v-model="contactDetailEntry.companyName"
                                                                   type="text"
                                                                   class="form-control"
                                                                   placeholder=""/>
                                                            <div class="invalid-feedback">
                                                                {{ contactDetailEntry.errors.companyName }}
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="inputCategory" class="d-block">Ort</label>
                                                            <input id="inputCategory"
                                                                   v-model="contactDetailEntry.category"
                                                                   type="text"
                                                                   class="form-control"
                                                                   placeholder=""/>
                                                            <div class="invalid-feedback">
                                                                {{ contactDetailEntry.errors.category }}
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <div class="custom-control custom-checkbox">
                                                                <div class="custom-control custom-checkbox">
                                                                    <input type="checkbox"
                                                                           class="custom-control-input"
                                                                           id="invoiceSameAsInvoiceCheckbox"
                                                                           v-model="contactDetailEntry.useAsInvoiceAddress"
                                                                    >
                                                                    <label class="custom-control-label" for="invoiceSameAsInvoiceCheckbox">
                                                                        Diese Angabe als Rechnungsaddresse übernehmen
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <section class="role-validity" :class="{ 'enabled': hasValidityDateRange }">
                                                        <div class="col-md-12">
                                                            <a href="#"
                                                               class="btn btn-sm btn-white btn-uppercase align-self-end"
                                                               v-on:click="toggleHasValidityDateRange()">
                                                                <span data-feather="plus" /> Von - Bis Datum
                                                            </a>
                                                        </div>

                                                        <section class="daterange-panel">
                                                            <div class="col-md-6">
                                                                <label class="d-block">Von</label>
                                                                <custom-date-picker name="activeSince"
                                                                                    v-model="contactDetailEntry.activeSince"
                                                                                    v-bind:onDateChanged=onRoleValidityDateChanged
                                                                ></custom-date-picker>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <label class="d-block">Bis</label>
                                                                <custom-date-picker name="activeUntil"
                                                                                    v-model="contactDetailEntry.activeUntil"
                                                                                    v-bind:onDateChanged=onRoleValidityDateChanged
                                                                ></custom-date-picker>
                                                            </div>
                                                        </section>
                                                    </section>
                                                </section>
                                            </form>
                                        </div>

                                        <div class="modal-footer">
                                            <button v-on:click="addContact" type="button"
                                                    class="btn btn-primary">
                                                Hinzufügen
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Rolle</th>
                                <th scope="col">E-Mail</th>
                                <th scope="col">Von - Bis</th>
                                <th scope="col">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="contact in this.contacts" :key="contact.uuid"
                                :value="contact.uuid">
                                <td> {{ contact.givenName }} {{ contact.familyName }}</td>
                                <td> {{ contact.role }}</td>
                                <td> {{ contact.email }}</td>
                                <td> {{ contact.activeSince }} {{ contact.activeUntil }}</td>
                                <td><a href="#" v-on:click="deleteEntry(contact)"><span data-feather="trash-2"/></a></td>
                            </tr>
                        </tbody>
                    </table>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import CustomSelect from "./CustomSelect";
import ContactsService from '@/Lib/contacts.service.js'
import CustomDatePicker from "./CustomDatePicker";

export default {
    components: {
        CustomSelect,
        CustomDatePicker,
    },

    props: {
        contractBuilder: Object,
    },

    // ----- data

    data() {
        return {
            contactDetailEntry: this.createEmptyFormModel(),
            // TODO: receive roles from API
            contactRoles: [
                { uuid: "service_location", title: "Service Location" },
                { uuid: "operating_company", title: "Betriebsgesellschaft" },
                { uuid: "financials", title: "Buchführung" },
                { uuid: "frontdesk", title: "Frontdesk" },
                { uuid: "other", title: "Sonstige" },
            ],
            allContacts: [],
            hasValidityDateRange: true,
        }
    },

    computed: {
        contacts() {
            if (this.contractBuilder) {
                return this.contractBuilder.generateCopy().contacts
            }
            return []
        },
        isRoleSelected() {
            return this.contactDetailEntry.role !== null
        },
    },

    // ----- lifecycle hooks

    created() {
        ContactsService.readAllContacts(this).then((contacts) => {
            this.allContacts = contacts

        })
    },

    mounted() {
    },

    updated() {
        window.feather.replace()
    },

    // ----- methods

    methods: {
        handleRoleItemSelected(roleId) {
            this.contactDetailEntry.role = roleId
        },
        createEmptyFormModel() {
            return {
                errors: {},
                _internal: Date.now(),
                role: null,

                uuid: null,
                isOrganisation: false,
                familyName: null,
                givenName: null,
                companyName: null,
                email: null,
                activeSince: null,
                activeUntil: null,

                useAsInvoiceAddress: false,
            }
        },
        deleteEntry(contact) {
            console.log('deleted', contact)
            if (contact.uuid == null) {
                this.contractBuilder.removeContact(contact)
            } else {
                contact.markedForDelete = true
            }
        },
        resetForm() {
            this.contactDetailEntry = this.createEmptyFormModel()
        },
        addContact() {
            const $ = window.$
            $('[data-dismiss=modal]').trigger('click')
            this.contractBuilder.addContact(this.contactDetailEntry)
        },
        onRoleValidityDateChanged(foo) {
            console.log('onRoleValidityDateChanged', foo)
        },
        toggleHasValidityDateRange() {
            console.log('toggled')
            this.hasValidityDateRange = !this.hasValidityDateRange
        },
    },
}

</script>
