<template>
    <section>
        <form @submit.prevent="store">
            <div class="form-group row">
                <label for="inputName" class="col-sm-2 col-form-label">Kontakt</label>
                <div class="col-sm-10">
                    <select name="supplier-contact-uuid"
                            ref="input"
                            class="form-select select2"
                            :error="form.errors.supplier_contact_uuid"
                            v-on:change="onSupplierContactSelected($event)"
                    >
                        <option :value="'new'">+ Neuer Lieferant</option>
                        <option v-for="supplierAddress in supplierAddresses" :key="supplierAddress.id"
                                :value="supplierAddress.uuid">
                            {{ supplierAddress.supplier_name }} ({{ supplierAddress.role }})
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputName" class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-10">
                    <input type="text" v-model="form.supplier.address.name" class="form-control"
                           id="inputName"
                           placeholder="Name">
                    <!--                                            <custom-date-picker />-->
                    <div class="invalid-feedback">{{ form.errors.name }}</div>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputStreet" class="col-sm-2 col-form-label">Strasse</label>
                <div class="col-sm-10">
                    <input type="text" v-model="form.supplier.address.street"
                           class="form-control" id="inputStreet"
                           placeholder="Strasse Nr.">
                    <div class="invalid-feedback">{{ form.errors.street }}</div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">PLZ, Ort</label>
                <div class="col-sm-5">
                    <input type="text" v-model="form.supplier.address.zipcode"
                           class="form-control" id="inputZip"
                           placeholder="PLZ">
                    <div class="invalid-feedback">{{ form.errors.zip }}</div>
                </div>
                <div class="col-sm-5">
                    <input type="text" v-model="form.supplier.address.city" class="form-control"
                           id="inputCity"
                           placeholder="Ort">
                    <div class="invalid-feedback">{{ form.errors.city }}</div>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputName" class="col-sm-2 col-form-label">Land</label>
                <div class="col-sm-10">
                    <select name="supplier-iso-code"
                            v-model="form.supplier.address.country_iso_code"
                            ref="input"
                            class="form-select select2"
                            v-bind="$attrs"
                            :error="form.errors.country_iso_code">
                        <option :value="null"/>
                        <option v-for="country in countries" :key="country.iso_code"
                                :value="country.iso_code">
                            {{ country.shortname_en }} ({{ country.iso_code }})
                        </option>
                    </select>
                    <div class="invalid-feedback">{{ form.errors.country_id }}</div>
                </div>
            </div>
        </form>
        <div class="col-md-6">
            <form @submit.prevent="store">
                <div class="form-group row">
                    <label for="inputVat" class="col-sm-2 col-form-label">Kode</label>
                    <div class="col-sm-10">
                        {{ form.kode }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputVat" class="col-sm-2 col-form-label">MwSt. Nr.</label>
                    <div class="col-sm-10">
                        <input id="inputVat" v-model="form.vat_id" type="text" class="form-control"
                               placeholder="">
                        <div class="invalid-feedback">{{ form.errors.vat_id }}</div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail" class="col-sm-2 col-form-label">E-Mail</label>
                    <div class="col-sm-10">
                        <input id="inputEmail" v-model="form.email" type="text" class="form-control"
                               placeholder="">
                        <div class="invalid-feedback">{{ form.errors.email }}</div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPhone" class="col-sm-2 col-form-label">Telefon</label>
                    <div class="col-sm-10">
                        <input type="text" v-model="form.phone" class="form-control" id="inputPhone"
                               placeholder="">
                        <div class="invalid-feedback">{{ form.errors.phone }}</div>
                    </div>
                </div>
            </form>
        </div>
    </section>
</template>

<script>
import CustomSelect from "./CustomSelect";
import ContactsService from '@/Lib/contacts.service.js'
import CustomDatePicker from "./CustomDatePicker";

export default {
    components: {
        CustomSelect,
    },

    props: {
        contractBuilder: Object,
    },

    // ----- data

    data() {
        return {
            contactDetailEntry: this.createEmptyFormModel(),
            // TODO: receive roles from API
            contactRoles: [
                { uuid: "service_location", title: "Service Location" },
                { uuid: "operating_company", title: "Betriebsgesellschaft" },
                { uuid: "financials", title: "Buchführung" },
                { uuid: "frontdesk", title: "Frontdesk" },
                { uuid: "other", title: "Sonstige" },
            ],
            allContacts: [],
            hasValidityDateRange: true,
        }
    },

    computed: {
        contacts() {
            if (this.contractBuilder) {
                return this.contractBuilder.generateCopy().contacts
            }
            return []
        },
        isRoleSelected() {
            return this.contactDetailEntry.role !== null
        },
    },

    // ----- lifecycle hooks

    created() {
        ContactsService.readAllContacts(this).then((contacts) => {
            this.allContacts = contacts

        })
    },

    mounted() {
    },

    updated() {
        window.feather.replace()
    },

    // ----- methods

    methods: {
        handleRoleItemSelected(roleId) {
            this.contactDetailEntry.role = roleId
        },
        createEmptyFormModel() {
            return {
                errors: {},
                _internal: Date.now(),
                role: null,

                uuid: null,
                isOrganisation: false,
                familyName: null,
                givenName: null,
                companyName: null,
                email: null,
                activeSince: null,
                activeUntil: null,

                useAsInvoiceAddress: false,
            }
        },
        deleteEntry(contact) {
            console.log('deleted', contact)
            if (contact.uuid == null) {
                this.contractBuilder.removeContact(contact)
            } else {
                contact.markedForDelete = true
            }
        },
        resetForm() {
            this.contactDetailEntry = this.createEmptyFormModel()
        },
        addContact() {
            const $ = window.$
            $('[data-dismiss=modal]').trigger('click')
            this.contractBuilder.addContact(this.contactDetailEntry)
        },
        onRoleValidityDateChanged(foo) {
            console.log('onRoleValidityDateChanged', foo)
        },
        toggleHasValidityDateRange() {
            console.log('toggled')
            this.hasValidityDateRange = !this.hasValidityDateRange
        },
    },
}

</script>
