<template>
    <div class="contracts wrapper">

        <div class="meta view d-sm-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
            <div>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb breadcrumb-style1 mg-b-10">
                        <li class="breadcrumb-item"><a href="#">Verträge</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Neuer Vertrag</li>
                    </ol>
                </nav>
                <h4 class="mg-b-0 tx-spacing--1">Neuer Vertrag</h4>
            </div>
            <div class="activities d-none d-md-block">
                <inertia-link :href="route('components.contracts')"
                              class="btn btn-sm pd-x-15 btn-white btn-uppercase">
                    Entwurf löschen
                </inertia-link>
            </div>
        </div>

        <div class="listing">
            <div class="activities d-none d-md-block">
                <ul class="nav nav-line" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a id="supplier-tab"
                           class="nav-link active"
                           data-toggle="tab"
                           href="#supplier"
                           role="tab"
                           aria-controls="supplier"
                           aria-selected="true">
                            Lieferant
                        </a>
                    </li>
                    <li class="nav-item">
                        <a id="products-tab"
                           class="nav-link disabled"
                           data-toggle="tab"
                           href="#product"
                           role="tab"
                           aria-controls="product"
                           aria-selected="false"
                        >
                            Produkte
                        </a>
                    </li>
                    <li class="nav-item">
                        <a id="other-tab"
                           class="nav-link disabled"
                           data-toggle="tab"
                           href="#other"
                           role="tab"
                           aria-controls="other"
                           aria-selected="false"
                        >
                            Weiteres
                        </a>
                    </li>
                    <li class="nav-item">
                        <a id="facility-tab"
                           class="nav-link disabled"
                           data-toggle="tab"
                           href="#facility"
                           role="tab"
                           aria-controls="facility"
                           aria-selected="true"
                        >
                            Anlage VB
                        </a>
                    </li>
                </ul>

                <div class="tab-content bd bd-gray-300 bd-t-0 pd-20" id="myTabContent">
                    <div id="supplier" class="tab-pane show active" role="tabpanel" aria-labelledby="supplier-tab">

                        <div class="row" style="margin-bottom: 20px;">
                            <div class="col-md-10">
                                <strong>Ortsangabe</strong>
                            </div>
                            <div class="col-md-2 align-self-end" style="text-align: right;">
                                <a v-on:click="storeContractSupplierHeader"
                                   class="btn btn-sm btn-white btn-uppercase align-self-end"
                                   :class="{'disabled': isSupplierHeaderIncomplete }">
                                    Übernehmen
                                </a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <form @submit.prevent="store">
                                    <div class="form-group row">
                                        <label for="inputName" class="col-sm-2 col-form-label">Kontakt</label>
                                        <div class="col-sm-10">
                                            <select name="supplier-contact-uuid"
                                                    ref="input"
                                                    class="form-select select2"
                                                    :error="form.errors.supplier_contact_uuid"
                                                    v-on:change="onSupplierContactSelected($event)"
                                            >
                                                <option :value="'new'">+ Neuer Lieferant</option>
                                                <option v-for="supplierAddress in supplierAddresses"
                                                        :key="supplierAddress.id"
                                                        :value="supplierAddress.uuid">
                                                    {{ supplierAddress.supplier_name }} ({{ supplierAddress.role }})
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputName" class="col-sm-2 col-form-label">Name</label>
                                        <div class="col-sm-10">
                                            <input type="text" v-model="form.supplier.address.name" class="form-control"
                                                   id="inputName"
                                                   placeholder="Name">
                                            <!--                                            <custom-date-picker />-->
                                            <div class="invalid-feedback">{{ form.errors.name }}</div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputStreet" class="col-sm-2 col-form-label">Strasse</label>
                                        <div class="col-sm-10">
                                            <input type="text" v-model="form.supplier.address.street"
                                                   class="form-control" id="inputStreet"
                                                   placeholder="Strasse Nr.">
                                            <div class="invalid-feedback">{{ form.errors.street }}</div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">PLZ, Ort</label>
                                        <div class="col-sm-5">
                                            <input type="text" v-model="form.supplier.address.zipcode"
                                                   class="form-control" id="inputZip"
                                                   placeholder="PLZ">
                                            <div class="invalid-feedback">{{ form.errors.zip }}</div>
                                        </div>
                                        <div class="col-sm-5">
                                            <input type="text" v-model="form.supplier.address.city" class="form-control"
                                                   id="inputCity"
                                                   placeholder="Ort">
                                            <div class="invalid-feedback">{{ form.errors.city }}</div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputName" class="col-sm-2 col-form-label">Land</label>
                                        <div class="col-sm-10">
                                            <select name="supplier-iso-code"
                                                    v-model="form.supplier.address.country_iso_code"
                                                    ref="input"
                                                    class="form-select select2"
                                                    v-bind="$attrs"
                                                    :error="form.errors.country_iso_code">
                                                <option :value="null"/>
                                                <option v-for="country in countries" :key="country.iso_code"
                                                        :value="country.iso_code">
                                                    {{ country.shortname_en }} ({{ country.iso_code }})
                                                </option>
                                            </select>
                                            <div class="invalid-feedback">{{ form.errors.country_id }}</div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-6">
                                <form @submit.prevent="store">
                                    <div class="form-group row">
                                        <label for="inputVat" class="col-sm-2 col-form-label">Kode</label>
                                        <div class="col-sm-10">
                                            {{ form.kode }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputVat" class="col-sm-2 col-form-label">MwSt. Nr.</label>
                                        <div class="col-sm-10">
                                            <input id="inputVat" v-model="form.vat_id" type="text" class="form-control"
                                                   placeholder="">
                                            <div class="invalid-feedback">{{ form.errors.vat_id }}</div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputEmail" class="col-sm-2 col-form-label">E-Mail</label>
                                        <div class="col-sm-10">
                                            <input id="inputEmail" v-model="form.email" type="text" class="form-control"
                                                   placeholder="">
                                            <div class="invalid-feedback">{{ form.errors.email }}</div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputPhone" class="col-sm-2 col-form-label">Telefon</label>
                                        <div class="col-sm-10">
                                            <input type="text" v-model="form.phone" class="form-control" id="inputPhone"
                                                   placeholder="">
                                            <div class="invalid-feedback">{{ form.errors.phone }}</div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
import ApplicationLayout from '@/Shared/ApplicationLayout'
import { ContractBuilder } from '@/Lib/contract.service.js'


export default {
    metaInfo: {title: 'Neuer Vertrag'},
    components: {},
    layout: ApplicationLayout,
    props: {
        supplierAddresses: Array,
        countries: Array,
        contract: Object,
    },
    remember: 'form',
    data() {
        return {
            form: this.$inertia.form(this.contract),
        }
    },
    computed: {
        api_token() {
            return this.$page.props.auth.user.api_token
        },
        isSupplierHeaderIncomplete() {
            let isIncomplete = false

            const requiredFieldnames = [
                'city', 'street',
                'zipcode', 'name',
            ]

            for (const fieldName of requiredFieldnames) {
                const value = this.form[fieldName]
                isIncomplete = isIncomplete || value == null || value.length == 0
            }

            return false
        },
    },
    methods: {
        storeContractSupplierHeader() {
            // console.log("???", this.form.supplier.address)
            // console.log(JSON.stringify(contract))
            // console.log(this.contractBuilder.generateCopy())
            // return

            const that = this
            this.contractBuilder.setSupplierAddress(this.form.supplier.address)
            this.contractBuilder.setSupplierContactUUID(this.form.supplier.supplier_contact_uuid)
            // this.contractBuilder.setSupplierUUID(this.form.supplier.supplier_uuid)
            const contract = this.contractBuilder.generateCopy()

            console.log("contract", contract)
            // return


            let createContractUrl = this.route('api.contracts.create')
            fetch(createContractUrl, {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json',
                    'Authorization': `Bearer ${that.api_token}`,
                },
                body: JSON.stringify(contract),
            })
                .then((response) => {
                    // console.log('response', response)
                    // if(response.status == 200) {
                    // }
                    return response.json()
                })
                .then((data) => {
                    const contractJson = data
                    console.log('contractJSON', contractJson)
                    const contractUUID = contractJson.uuid
                    that.redirectToContractEditView(contractUUID)
                })

            // this.form.post(this.route('component.contracts.store'))
        },
        store() {
            console.log('this form', this.form)
            this.form.post(this.route('component.contracts.store'))
        },
        onSupplierContactSelected(supplierContactUUID) {
            console.log('this.route', this.route)
            let contactDetailsRoute = this.route('api.supplier-contacts.read', {
                uuid: supplierContactUUID,
            })
            console.log('contactDetailsRoute', contactDetailsRoute)

            const contactDetailsUrl = contactDetailsRoute
            fetch(contactDetailsUrl)
                .then(response => response.json())
                .then(this.populateContractPartnerForm)
            this.form.supplier.supplier_contact_uuid = supplierContactUUID
        },
        onSupplierCountrySelected(supplierCountryIsoCode) {
            this.form.country_iso_code = supplierCountryIsoCode
        },
        populateContractPartnerForm(contractPartnerDetails) {
            const locations = contractPartnerDetails.locations
            const primaryLocation = locations[0]

            // console.log('primaryLocation ', primaryLocation)
            console.log('partner', contractPartnerDetails)
            console.log('supplier uuid', contractPartnerDetails.supplier.uuid)
            console.log('contact uuid', contractPartnerDetails.contact.uuid)

            this.form.supplier.address.city = primaryLocation.city
            this.form.supplier.address.street = primaryLocation.street_firstline
            this.form.supplier.address.zipcode = primaryLocation.zipcode
            this.form.supplier.address.name = contractPartnerDetails.supplier_name
        },
        buildContractDocument() {
            // return this.contractBuilder
            return {
                _meta: {
                    version: "0.0.0",
                },
                type: "sourcing",
                supplier: {
                    supplier_uuid: null,
                    supplier_contact_uuid: this.form.supplier_contact_uuid,
                    address: {
                        name: this.form.name,
                        street: this.form.street,
                        zipcode: this.form.zipcode,
                        city: this.form.city,
                        country_iso_code: this.form.country_iso_code,
                    },
                },
            }
        },
        redirectToContractEditView(contractUUID) {
            console.log('enter redirectToContractEditView', contractUUID);
            const editContractRoute = this.route('components.contracts.edit', {
                uuid: contractUUID,
            });
            const editContractURL = editContractRoute;
            this.$inertia.visit(editContractURL)
        },
        initSupplierContactsSelect() {
            const $ = window.$
            const that = this

            const $supplierContactSelect = $('.select2[name="supplier-contact-uuid"]')
            $supplierContactSelect.select2({
                placeholder: 'Vertragspartner wählen',
            })
                .on('select2:select', function (evnt) {
                    const selectedValue = evnt.params.data.id
                    that.onSupplierContactSelected(selectedValue)
                })
        },
        initExternalComponents() {
            this.initSupplierContactsSelect()
            this.initCountryIsoCodeSelect()
        },
        updateExternalComponentStates() {
            const supplierContactUUID = this.form.supplier.supplier_contact_uuid
            const countryIsoCode = this.form.supplier.address.country_iso_code

            const $ = window.$
            const $contractPartnerIsoCodeSelect = $('.select2[name="supplier-iso-code"]')
            $contractPartnerIsoCodeSelect.val(countryIsoCode)
            $contractPartnerIsoCodeSelect.trigger('change')

            const $supplierContactSelect = $('.select2[name="supplier-contact-uuid"]')
            $supplierContactSelect.val(supplierContactUUID)
            $supplierContactSelect.trigger('change')
        },
        initCountryIsoCodeSelect() {
            const $ = window.$
            const that = this
            const $contractPartnerIsoCodeSelect = $('.select2[name="supplier-iso-code"]')

            $contractPartnerIsoCodeSelect.select2({
                placeholder: ' Land',
            })
                .on('select2:select', function (evnt) {
                    const selectedValue = evnt.params.data.id
                    that.onSupplierCountrySelected(selectedValue)
                })
        },

    },
    mounted: function () {
        this.initExternalComponents()
        this.updateExternalComponentStates()
        console.log(this.supplierAddresses)
    },
    created() {
        this.contractBuilder = new ContractBuilder(this.contract)
    },
}
</script>
