<template>
    <select v-bind="$attrs"
            ref="input"
            class="form-select select2"
            v-on:change="handleItemSelected"
    >
        <slot></slot>
    </select>
</template>

<script>

export default {
    components: {
    },
    props: {
        onItemSelected: Function,
        placeholder: String,
        initialValue: String,
    },

    // ----- data

    data() {
        return {
            currentValue: this.initialValue,
        }
    },
    computed: {
        customSelectComponent() {
            return window.$(this.$el)
        },
    },

    // ----- lifecycle hooks

    created() {
    },

    mounted() {
        this.initSelectComponent()
        this.updateComponentState()
    },
    updated() {
        // this.initSelectComponent()
        // this.updateComponentState()
    },

    // ----- methods

    methods: {
        initSelectComponent() {
            const $ = window.$
            const that = this
            const $localSelectComponent = this.customSelectComponent
            const params = {
                width: '100%',
                placeholder: this.placeholder || 'Bitte wählen ...',
            }

            const modal = $(this.$el).parents('.modal').toArray().pop()
            if(modal !== undefined && modal !== null) {
                params['dropdownParent'] = $(modal)
            }

            $localSelectComponent.select2(params)
                .on('select2:select', function (evnt) {
                    const selectedValue = evnt.params.data.id
                    that.handleItemSelected(selectedValue)
                })

            $localSelectComponent.css({
                width: '100%',
            })
        },
        updateComponentState() {
            const $localSelectComponent = this.customSelectComponent
            $localSelectComponent.css({ width: '100%' })
            $localSelectComponent.val(this.currentValue)
            $localSelectComponent.trigger('change')
        },
        handleItemSelected(selectedValue) {
            this.currentValue = selectedValue
            this.updateComponentState()
            if(typeof this.onItemSelected === 'function') {
                this.onItemSelected(selectedValue)
            }
        },
    },
}

</script>
