<template>
    <div>
        <input :id="id" ref="input"
               v-bind="$attrs"
               class="custom-date-picker form-control"
               :class="{ error: error }"
               :type="type" :value="value"
               @input="$emit('input', $event.target.value)" />

        <div v-if="error" class="form-error">{{ error }}</div>
    </div>
</template>

<script>
import * as moment from 'moment'

export default {
    inheritAttrs: false,
    props: {
        id: {
            type: String,
            default() {
                return `text-input-${this._uid}`
            },
        },
        type: {
            type: String,
            default: 'text',
        },
        value: String,
        label: String,
        error: String,
        onDateChanged: Function,
    },

    computed: {
        customDatePickerNode() {
            // const $ = window.jQuery.noConflict()
            const $ = window.$
            return $(this.$el).find('.custom-date-picker')
        },
    },

    mounted() {
        this.initSelectComponent()
        this.updateComponentState()
    },

    methods: {
        focus() {
            this.$refs.input.focus()
        },
        select() {
            this.$refs.input.select()
        },
        setSelectionRange(start, end) {
            this.$refs.input.setSelectionRange(start, end)
        },
        initSelectComponent() {
            const that = this
            const $localDatePickerComponent = this.customDatePickerNode
            $localDatePickerComponent.datepicker({
                showOtherMonths: true,
                selectOtherMonths: true,
                changeMonth: true,
                changeYear: true,
            }).on('change', function(evnt) {
                console.log('datepicker change', evnt)
                const node = that.customDatePickerNode.toArray().pop()
                // element.value
                const selectedValue = moment(node.value).toISOString()
                that.handleDateChanged(selectedValue)
            })
            $localDatePickerComponent.css({
                width: '100%',
            })
        },
        updateComponentState() {
        },
        handleDateChanged(selectedValue) {
            const fieldname = this.customDatePickerNode.toArray().pop().name
            console.log('handleDateChanged', fieldname, selectedValue)
            this.currentValue = selectedValue
            this.updateComponentState()
            if(typeof this.onDateChanged === 'function') {
                this.onDateChanged(selectedValue)
            }
        },
    },
}
</script>

