<template>
    <div class="contracts wrapper">
        <div class="meta view d-sm-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
            <div>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb breadcrumb-style1 mg-b-10">
                        <li class="breadcrumb-item"><a href="#">Verträge</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Übersicht</li>
                    </ol>
                </nav>
                <h4 class="mg-b-0 tx-spacing--1">Alle Verträge</h4>
            </div>
            <div class="activities d-none d-md-block">
                <inertia-link :href="route('components.contracts.create')"
                              class="btn btn-sm pd-x-15 btn-white btn-uppercase"
                >
                    <span data-feather="plus" />&nbsp;Neuer Vertrag
                </inertia-link>
            </div>
        </div>

        <div class="listing">
            <table id="contracts-index" class="table">
                <thead>
                    <tr>
                        <th class="wd-20p">Kode</th>
                        <th class="wd-25p">Lieferant</th>
                        <th class="wd-25p">Erstellungsdatum</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</template>

<script>
import Layout from '@/Shared/ApplicationLayout'

function renderSupplierNameCell(supplierName) {
    return `<a href="#">${supplierName}</a>`
}

export default {
    metaInfo: {title: 'Dashboard'},
    layout: Layout,
    computed: {
      api_token() {
          return this.$page.props.auth.user.api_token
      }
    },
    methods: {
        initExternalComponents() {
            const that = this;
            const _inertia = this.$inertia;
            const $ = window.$;
            const table = $('#contracts-index').DataTable({
                'ajax': {
                    url: '/api/v1/contracts',
                    type: 'GET',
                    beforeSend: function(request) {
                        request.setRequestHeader('Authorization', `Bearer ${that.api_token}`)
                    },
                },
                'columns': [
                    { 'data': 'kode' },
                    {
                        'data': 'supplierName',
                        'render': renderSupplierNameCell,
                    },
                    { 'data': 'createdAt' },
                ],
                language: {
                    searchPlaceholder: 'Search...',
                    sSearch: '',
                    lengthMenu: '_MENU_ items/page',
                },
            })

            $('#contracts-index tbody').on('click', 'tr', function () {
                const data = table.row( this ).data()
                const targetUrl = that.route('components.contracts.edit', {uuid: data.uuid})
                _inertia.visit(targetUrl)
                // const target = event.target
                // console.log(_route, target.nodeName, target, data)
            })
        },
    },
    mounted: function() {
        this.initExternalComponents()
    },
}
</script>
