<template>
    <section id="invoice-details-section" class="foldable subsection">
        <div class="row">
            <div class="col-md-12">
                <h6 class="accordion-title ui-accordion-header ui-corner-top ui-accordion-header-collapsed ui-corner-all ui-state-default ui-accordion-icons"
                    role="tab"
                    href="#invoice-foldable-panel"
                    data-toggle="collapse"
                    aria-controls="financial-foldable-panel"
                    aria-expanded="false"
                    tabindex="-1"
                >
                    <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"/>
                    Rechnungsdaten
                </h6>
            </div>
        </div>
        <div id="invoice-foldable-panel" class="row collapse show">
            <div class="col-md-12">
                <div
                    class="meta view d-sm-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
                    <div>
                        <h4 class="mg-b-0 tx-spacing--1">&nbsp;</h4>
                    </div>
                    <div class="activities d-none d-md-block">
                        <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#invoiceDetailDialog">
                            <span data-feather="plus"/>&nbsp;Rechnungsdaten
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="invoiceDetailDialog" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="bankingDetailDialog">Rechnungsdaten</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">

                                        <div class="row">
                                            <form @submit.prevent="store">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label for="inputAccountOwner" class="d-block">Name</label>
                                                        <input id="inputAccountOwner"
                                                               v-model="bankingDetailEntry.accountOwner"
                                                               type="text"
                                                               class="form-control"
                                                               placeholder="" />
                                                        <div class="invalid-feedback">{{ bankingDetailEntry.errors.accountOwner }}</div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="inputFinancialInstitute" class="d-block">Firma</label>
                                                        <input id="inputFinancialInstitute"
                                                               v-model="bankingDetailEntry.company_name"
                                                               type="text"
                                                               class="form-control"
                                                               placeholder="" />
                                                        <div class="invalid-feedback">{{ bankingDetailEntry.errors.financialInstitute }}</div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="inputIBAN" class="d-block">Strasse</label>
                                                        <input id="inputIBAN"
                                                               v-model="bankingDetailEntry.iban"
                                                               type="text"
                                                               class="form-control"
                                                               placeholder="" />
                                                        <div class="invalid-feedback">{{ bankingDetailEntry.errors.iban }}</div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="inputBIC" class="d-block">PLZ</label>
                                                        <input id="inputBIC"
                                                               v-model="bankingDetailEntry.bic"
                                                               type="text"
                                                               class="form-control"
                                                               placeholder="" />
                                                        <div class="invalid-feedback">{{ bankingDetailEntry.errors.bic }}</div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="inputBIC" class="d-block">Stadt</label>
                                                        <input id="inputBIC"
                                                               v-model="bankingDetailEntry.bic"
                                                               type="text"
                                                               class="form-control"
                                                               placeholder="" />
                                                        <div class="invalid-feedback">{{ bankingDetailEntry.errors.bic }}</div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label for="inputBIC" class="d-block">MwSt. Nr.</label>
                                                        <input id="inputBIC"
                                                               v-model="bankingDetailEntry.bic"
                                                               type="text"
                                                               class="form-control"
                                                               placeholder="" />
                                                        <div class="invalid-feedback">{{ bankingDetailEntry.errors.bic }}</div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <div class="custom-control custom-checkbox">
                                                            <div class="custom-control custom-checkbox">
                                                                <input type="checkbox"
                                                                       class="custom-control-input"
                                                                       id="invoiceSameAsInvoiceCheckbox"
                                                                       v-model="bankingDetailEntry.useAsInvoiceAddress"
                                                                >
                                                                <label class="custom-control-label" for="invoiceSameAsInvoiceCheckbox">
                                                                    Diese Angabe als Rechnungsaddresse übernehmen
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary">Hinzufügen</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Addresse</th>
                                <th scope="col">PLZ, Ort</th>
                                <th scope="col">Land</th>
                                <th scope="col">MwSt.</th>
                                <th scope="col">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="invoiceContact in this.invoiceDetails.invoiceContacts"
                                :key="invoiceContact.uuid"
                                :value="invoiceContact.uuid">
                                <td> {{ invoiceContact.companyName }}</td>
                                <td> {{ invoiceContact.street }}</td>
                                <td> {{ invoiceContact.zipcode }}, {{ invoiceContact.city }}</td>
                                <td> {{ invoiceContact.countryIsoCode }}</td>
                                <td> {{ invoiceContact.vatId }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</template>

<script>

export default {
    components: {},
    props: {
        contractBuilder: Object,
    },

    // ----- data

    data() {
        return {
            bankingDetailEntry: {
                useAsInvoiceAddress: false,
                errors:{
                }
            },
        }
    },
    computed: {
        bankingDetails() {
            if (this.contractBuilder) {
                return this.contractBuilder.generateCopy().bankingDetails || []
            }
            return []
        },
        invoiceDetails() {
            if (this.contractBuilder) {
                return this.contractBuilder.generateCopy().invoiceDetails || []
            }
            return []
        },
    },

    // ----- lifecycle hooks

    created() {
    },

    mounted() {
    },

    // ----- methods

    methods: {},
}

</script>
